.logo {
  float: left;
  font-family: 'Roboto';
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 40px;
  margin-top: 5px;
  font-weight: bold;
}

.header-right {
  float: right;
}

.header {
  overflow: hidden;
  background-color: #f1f1f1;
  padding: 20px 10px;
}



