@import "primeicons/primeicons.css";

.error {
  color: #d9534f; /* Red color for error text */
  font-size: 14px;
  margin-top: 5px;
}

/* Example for adding an icon next to the error text */
.error::before {
  content: '\26A0'; /* Unicode character for a warning symbol */
  font-size: 16px;
  margin-right: 5px;
}
